@import url( 'https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@theme {
    --font-sans: "Montserrat", sans-serif;
    --font-cormorant: "Cormorant", serif;
    --color-text-20: #C9C9C9;
    --color-text-60: #717171;
    --color-text-100: #1A1A1A;
    --color-action-20: #F7FAF0;
    --color-action-40: #F0F5E2;
    --color-action-80: #E0EAC2;
    --color-surface-10: #F9FAF7;
    --color-surface-20: #EFF0EB;
    --text-xxs: 10px;
    --tracking-link: 2px;
    --shadow-header: 0px 4px 12px 0px #1A1A1A40;
    --container-max-width-xl: 1366px;
    --container-padding: 1rem;
    --container-padding-md: 3rem;
}

:root {
  --swiper-navigation-color : #FFFFFF;
  --swiper-navigation-size: 32px;
  --swiper-theme-color:  var(--color-text-100);
  --swiper-pagination-bullet-size: 12px;
}

html, body, .scrollbar {
  scrollbar-width: thin;
}

b {
  @apply font-semibold
}

.list-decimal {
  @apply list-image-[url(../../assets/images/svg/marker.svg)] list-none
}

h1, .h1 {
  @apply font-cormorant text-[64px] leading-[72px] font-normal tracking-tight
}

h2, .h2 {
  @apply font-cormorant text-[48px] leading-[56px] font-normal tracking-tight
}
 
h3, .h3 {
  @apply font-cormorant text-[32px] leading-10 font-normal tracking-tight
}

h4, .h4 {
  @apply font-cormorant text-2xl leading-8 font-normal tracking-tight
}

.btn {
    @apply duration-300 active:scale-95 flex items-center justify-center gap-3 font-semibold cursor-pointer text-xxs leading-3 tracking-link uppercase px-6 py-3 rounded-3xl ring-1 whitespace-nowrap;
}

.btn-primary {
    @apply bg-text-100 text-white ring-text-100 hover:bg-transparent hover:text-text-100;
}

.btn-theme {
  @apply bg-action-80 text-text-100 ring-action-80 hover:bg-transparent hover:text-text-100;
}

.btn-primary-outline {
  @apply bg-transparent text-text-100 ring-text-100 hover:bg-text-100 hover:text-white;
}

.btn-hovered-invert {
  @apply hover:text-white hover:ring-white
}

.hovered-links a {
  @apply border-b border-transparent hover:border-text-100 duration-300 py-0.5
}

.label {
  @apply text-sm
}

.input {
  @apply bg-surface-10 border-b border-b-action-80 p-2 text-sm placeholder:text-text-60 focus:outline-none
}

.textarea {
  @apply bg-surface-10 border-b border-b-action-80 min-h-[132px] p-2 text-sm placeholder:text-text-60 focus:outline-none
}

@media (max-width: 767px) {
  .aos-desktop-only {
    opacity: 1 !important;
    transform: none !important;
    transition: none !important;
  }
}